footer{
    height: 450px;
    background: #3e4952;
    background-image: url("https://livedemo00.template-help.com/wt_55458/images/pattern-gray.jpg");
    background-position: 100% 100%;
    background-repeat: repeat;
    color: #ffffff;
    vertical-align: bottom;
    padding-bottom: 207px;
    padding-top: 55px;
}



.footer_font{
    font-weight: 700;
}

.small-font{
    font-size: 12px;
}

.iconed{
    color: #dc6226;
    font-size: 34px;
}

.iconed:hover{
    color: grey;
}


.icon_list{
    display: flex;
    justify-content: space-between;
    width: 36%;
    padding: 0;
    margin-top: 16px;
}

iframe{
    width: 85vh;
    height: 150px;
}